.pic{
  margin-left: 500px;
}

body{
  width: 1440px;
  height: 9131px;
  background-color: #eaeaea;
}

.block1{
  margin-top: 150px;
  margin-left: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1120px;
  height: 123px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 13px 0px rgba(11,12,12,0.15);
}

.poin1{
  padding-top: 60px;
  font-family: 'Josefin Sans';
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  text-transform: uppercase;
}

.block2{
  margin-left: 150px;
  width: 1120px;
  height: 438px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
}

.block3{
  margin-top: 100px;
  margin-left: 150px;
  width: 1120px;
  height: 373px;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
}

.pic1{
  width: 313px;
  height: 208px;
  padding: 20px;
}
